<a href="https://colab.research.google.com/github/BatbayarEnkhbaatar/Machine_Learning_Samples/blob/main/Medical_cost_forecast_using_linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import  the required libraries 

import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:

# Read in the insurance dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 12 columns]

In [ ]:
# Create X & y values (features and labels)
X = insurance_one_hot.drop("charges", axis=1)
y = insurance_one_hot["charges"]

In [ ]:
X.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 11 columns]

In [ ]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [ ]:

# Create training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(
     X, y, test_size=0.2, random_state=42
 )
len(X_train), len(X_test), len(X)

(1070, 268, 1338)

In [ ]:
X_test

      age     bmi  ...  region_southeast  region_southwest
764    45  25.175  ...                 0                 0
887    36  30.020  ...                 0                 0
890    64  26.885  ...                 0                 0
1293   46  25.745  ...                 0                 0
259    19  31.920  ...                 0                 0
...   ...     ...  ...               ...               ...
109    63  35.090  ...                 1                 0
575    58  27.170  ...                 0                 0
535    38  28.025  ...                 0                 0
543    54  47.410  ...                 1                 0
846    51  34.200  ...                 0                 1

[268 rows x 11 columns]

In [ ]:
# Build the neural network (sort of like model_2 above)
tf.random.set_seed(42)

# 1. Create a model

insurance_model=tf.keras.Sequential([
                                     tf.keras.layers.Dense(10),
                                      tf.keras.layers.Dense(1)
                                      ])
# 2. Compile the model
insurance_model.compile(loss=tf.keras.losses.mae,
                        optimizer=tf.optimizers.SGD(),
                        metrics=["mae"])
# 3.  Fit the model

insurance_model.fit(tf.expand_dims(X_train, axis=1), y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 0s 2ms/step - loss: 8637.1006 - mae: 8637.1006
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 7886.7759 - mae: 7886.7759
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 7558.1470 - mae: 7558.1470
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 7792.0225 - mae: 7792.0225
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 7748.3887 - mae: 7748.3887
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 7595.3940 - mae: 7595.3940
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 7589.9844 - mae: 7589.9844
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 7698.5576 - mae: 7698.5576
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 7496.7778 - mae: 7496.7778
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 7493.1743 - mae: 7493.1743
Epoch 11/100
34/34 [==============================] - 0s 2ms/step - loss: 7769.7314 - mae: 7769.7314
Epoch 12/100
34/34 [==============================] - 0s 1ms/step - loss: 7706.9028 - mae: 7706.9028
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 7687.7231 - mae: 7687.7231
Epoch 14/100
34/34 [==============================] - 0s 1ms/step - loss: 7689.9004 - mae: 7689.9004
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 7393.5327 - mae: 7393.5327
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 7780.6987 - mae: 7780.6987
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 7578.5098 - mae: 7578.5098
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 7750.8354 - mae: 7750.8354
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 7739.2144 - mae: 7739.2144
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 7875.0654 - mae: 7875.0654
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 7466.6768 - mae: 7466.6768
Epoch 22/100
34/34 [==============================] - 0s 1ms/step - loss: 7941.2329 - mae: 7941.2329
Epoch 23/100
34/34 [==============================] - 0s 1ms/step - loss: 7640.2734 - mae: 7640.2734
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 7539.2671 - mae: 7539.2671
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 7619.9663 - mae: 7619.9663
Epoch 26/100
34/34 [==============================] - 0s 1ms/step - loss: 7644.1714 - mae: 7644.1714
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 7709.0371 - mae: 7709.0371
Epoch 28/100
34/34 [==============================] - 0s 1ms/step - loss: 7366.8662 - mae: 7366.8662
Epoch 29/100
34/34 [==============================] - 0s 1ms/step - loss: 7444.3149 - mae: 7444.3149
Epoch 30/100
34/34 [==============================] - 0s 1ms/step - loss: 7616.4077 - mae: 7616.4077
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 7686.3853 - mae: 7686.3853
Epoch 32/100
34/34 [==============================] - 0s 1ms/step - loss: 7548.0977 - mae: 7548.0977
Epoch 33/100
34/34 [==============================] - 0s 1ms/step - loss: 7501.5532 - mae: 7501.5532
Epoch 34/100
34/34 [==============================] - 0s 1ms/step - loss: 7363.4160 - mae: 7363.4160
Epoch 35/100
34/34 [==============================] - 0s 1ms/step - loss: 7295.4478 - mae: 7295.4478
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 7569.8804 - mae: 7569.8804
Epoch 37/100
34/34 [==============================] - 0s 1ms/step - loss: 7548.1997 - mae: 7548.1997
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 7424.3975 - mae: 7424.3975
Epoch 39/100
34/34 [==============================] - 0s 1ms/step - loss: 7529.7734 - mae: 7529.7734
Epoch 40/100
34/34 [==============================] - 0s 1ms/step - loss: 7467.3228 - mae: 7467.3228
Epoch 41/100
34/34 [==============================] - 0s 1ms/step - loss: 7635.9292 - mae: 7635.9292
Epoch 42/100
34/34 [==============================] - 0s 1ms/step - loss: 7536.8398 - mae: 7536.8398
Epoch 43/100
34/34 [==============================] - 0s 1ms/step - loss: 7616.5850 - mae: 7616.5850
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 7439.4941 - mae: 7439.4941
Epoch 45/100
34/34 [==============================] - 0s 2ms/step - loss: 7538.0146 - mae: 7538.0146
Epoch 46/100
34/34 [==============================] - 0s 1ms/step - loss: 7415.1470 - mae: 7415.1470
Epoch 47/100
34/34 [==============================] - 0s 1ms/step - loss: 7420.6938 - mae: 7420.6938
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 7509.9839 - mae: 7509.9839
Epoch 49/100
34/34 [==============================] - 0s 1ms/step - loss: 7541.1133 - mae: 7541.1133
Epoch 50/100
34/34 [==============================] - 0s 1ms/step - loss: 7467.8643 - mae: 7467.8643
Epoch 51/100
34/34 [==============================] - 0s 1ms/step - loss: 7389.3560 - mae: 7389.3560
Epoch 52/100
34/34 [==============================] - 0s 1ms/step - loss: 7499.7764 - mae: 7499.7764
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 7523.9282 - mae: 7523.9282
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 7243.3120 - mae: 7243.3120
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 7429.5874 - mae: 7429.5874
Epoch 56/100
34/34 [==============================] - 0s 1ms/step - loss: 7313.3999 - mae: 7313.3999
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 7526.3877 - mae: 7526.3877
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 7542.2666 - mae: 7542.2666
Epoch 59/100
34/34 [==============================] - 0s 1ms/step - loss: 7576.9277 - mae: 7576.9277
Epoch 60/100
34/34 [==============================] - 0s 1ms/step - loss: 7546.4058 - mae: 7546.4058
Epoch 61/100
34/34 [==============================] - 0s 1ms/step - loss: 7351.2261 - mae: 7351.2261
Epoch 62/100
34/34 [==============================] - 0s 1ms/step - loss: 7302.1436 - mae: 7302.1436
Epoch 63/100
34/34 [==============================] - 0s 1ms/step - loss: 7393.0884 - mae: 7393.0884
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 7442.2881 - mae: 7442.2881
Epoch 65/100
34/34 [==============================] - 0s 1ms/step - loss: 7492.6782 - mae: 7492.6782
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 7561.9165 - mae: 7561.9165
Epoch 67/100
34/34 [==============================] - 0s 1ms/step - loss: 7340.5137 - mae: 7340.5137
Epoch 68/100
34/34 [==============================] - 0s 1ms/step - loss: 7496.0845 - mae: 7496.0845
Epoch 69/100
34/34 [==============================] - 0s 1ms/step - loss: 7617.0298 - mae: 7617.0298
Epoch 70/100
34/34 [==============================] - 0s 1ms/step - loss: 7641.1948 - mae: 7641.1948
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 7084.2744 - mae: 7084.2744
Epoch 72/100
34/34 [==============================] - 0s 1ms/step - loss: 7240.4902 - mae: 7240.4902
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 7283.4888 - mae: 7283.4888
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 7335.5083 - mae: 7335.5083
Epoch 75/100
34/34 [==============================] - 0s 1ms/step - loss: 7275.6396 - mae: 7275.6396
Epoch 76/100
34/34 [==============================] - 0s 1ms/step - loss: 7313.1860 - mae: 7313.1860
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 7485.7598 - mae: 7485.7598
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 7352.2803 - mae: 7352.2803
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 7520.5703 - mae: 7520.5703
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 7279.3779 - mae: 7279.3779
Epoch 81/100
34/34 [==============================] - 0s 1ms/step - loss: 7273.8477 - mae: 7273.8477
Epoch 82/100
34/34 [==============================] - 0s 1ms/step - loss: 7176.5215 - mae: 7176.5215
Epoch 83/100
34/34 [==============================] - 0s 1ms/step - loss: 7425.6289 - mae: 7425.6289
Epoch 84/100
34/34 [==============================] - 0s 1ms/step - loss: 7403.1294 - mae: 7403.1294
Epoch 85/100
34/34 [==============================] - 0s 1ms/step - loss: 7356.0088 - mae: 7356.0088
Epoch 86/100
34/34 [==============================] - 0s 1ms/step - loss: 7484.7271 - mae: 7484.7271
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 7217.6074 - mae: 7217.6074
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 7261.0000 - mae: 7261.0000
Epoch 89/100
34/34 [==============================] - 0s 1ms/step - loss: 7134.1562 - mae: 7134.1562
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 7083.4355 - mae: 7083.4355
Epoch 91/100
34/34 [==============================] - 0s 1ms/step - loss: 7254.1782 - mae: 7254.1782
Epoch 92/100
34/34 [==============================] - 0s 1ms/step - loss: 7268.7461 - mae: 7268.7461
Epoch 93/100
34/34 [==============================] - 0s 1ms/step - loss: 7470.5215 - mae: 7470.5215
Epoch 94/100
34/34 [==============================] - 0s 1ms/step - loss: 7210.9536 - mae: 7210.9536
Epoch 95/100
34/34 [==============================] - 0s 1ms/step - loss: 7395.6816 - mae: 7395.6816
Epoch 96/100
34/34 [==============================] - 0s 1ms/step - loss: 7328.0884 - mae: 7328.0884
Epoch 97/100
34/34 [==============================] - 0s 1ms/step - loss: 7230.4375 - mae: 7230.4375
Epoch 98/100
34/34 [==============================] - 0s 1ms/step - loss: 7261.3936 - mae: 7261.3936
Epoch 99/100
34/34 [==============================] - 0s 1ms/step - loss: 7342.5684 - mae: 7342.5684
Epoch 100/100
34/34 [==============================] - 0s 1ms/step - loss: 7106.1709 - mae: 7106.1709

In [44]:
insurance_model.evaluate(X_test, y_test)

WARNING:tensorflow:Model was constructed with shape (None, 1, 11) for input KerasTensor(type_spec=TensorSpec(shape=(None, 1, 11), dtype=tf.float64, name='dense_6_input'), name='dense_6_input', description="created by layer 'dense_6_input'"), but it was called on an input with incompatible shape (None, 11).
9/9 [==============================] - 0s 2ms/step - loss: 7023.3291 - mae: 7023.3291

[7023.3291015625, 7023.3291015625]

In [60]:
# Make some functions to re-use MAE, MSE
def mae (y_true, y_pred):
  return tf.metrics.mean_absolute_error(y_true=y_test, 
                                        y_pred=tf.squeeze(y_pred))
def mse (y_true, y_pred):
  return tf.metrics.mean_squared_error(y_true=y_test, 
                                       y_pred=tf.squeeze(y_pred))

In [51]:
y_train.median(), y_train.mean()

(9575.4421, 13346.089736364489)

To improve the our model , we will add one more layer

In [89]:
# set random seed
tf.random.set_seed(42)
# 1. Create a model
insurance_model_2 = tf.keras.Sequential([
                    tf.keras.layers.Dense(100),
                    tf.keras.layers.Dense(10),
                    tf.keras.layers.Dense(1)
])
# 2. Compile the model
insurance_model_2.compile(loss = tf.keras.losses.mae,
                          optimizer = tf.keras.optimizers.Adam(),
                          metrics = ["mae"])

# 3. Fit the model
# Insurance_model_2.fit(X_train, y_train, epochs=100, verbose=1)
insurance_model_2.fit(tf.expand_dims(X_train, axis=1), y_train, epochs=100, verbose=1)

Epoch 1/100
34/34 [==============================] - 2s 5ms/step - loss: 13273.1602 - mae: 13273.1602
Epoch 2/100
34/34 [==============================] - 0s 3ms/step - loss: 13104.4297 - mae: 13104.4297
Epoch 3/100
34/34 [==============================] - 0s 3ms/step - loss: 12749.5420 - mae: 12749.5420
Epoch 4/100
34/34 [==============================] - 0s 3ms/step - loss: 12055.7500 - mae: 12055.7500
Epoch 5/100
34/34 [==============================] - 0s 3ms/step - loss: 10905.8154 - mae: 10905.8154
Epoch 6/100
34/34 [==============================] - 0s 4ms/step - loss: 9457.7217 - mae: 9457.7217
Epoch 7/100
34/34 [==============================] - 0s 3ms/step - loss: 8147.6543 - mae: 8147.6543
Epoch 8/100
34/34 [==============================] - 0s 3ms/step - loss: 7528.8408 - mae: 7528.8408
Epoch 9/100
34/34 [==============================] - 0s 3ms/step - loss: 7429.1528 - mae: 7429.1528
Epoch 10/100
34/34 [==============================] - 0s 4ms/step - loss: 7409.0815 - mae: 7409.0815
Epoch 11/100
34/34 [==============================] - 0s 3ms/step - loss: 7390.8042 - mae: 7390.8042
Epoch 12/100
34/34 [==============================] - 0s 4ms/step - loss: 7368.9170 - mae: 7368.9170
Epoch 13/100
34/34 [==============================] - 0s 5ms/step - loss: 7348.5190 - mae: 7348.5190
Epoch 14/100
34/34 [==============================] - 0s 3ms/step - loss: 7326.4893 - mae: 7326.4893
Epoch 15/100
34/34 [==============================] - 0s 3ms/step - loss: 7307.5811 - mae: 7307.5811
Epoch 16/100
34/34 [==============================] - 0s 3ms/step - loss: 7285.7734 - mae: 7285.7734
Epoch 17/100
34/34 [==============================] - 0s 3ms/step - loss: 7265.7104 - mae: 7265.7104
Epoch 18/100
34/34 [==============================] - 0s 4ms/step - loss: 7242.5488 - mae: 7242.5488
Epoch 19/100
34/34 [==============================] - 0s 3ms/step - loss: 7220.5068 - mae: 7220.5068
Epoch 20/100
34/34 [==============================] - 0s 3ms/step - loss: 7197.1978 - mae: 7197.1978
Epoch 21/100
34/34 [==============================] - 0s 3ms/step - loss: 7179.0195 - mae: 7179.0195
Epoch 22/100
34/34 [==============================] - 0s 3ms/step - loss: 7151.2100 - mae: 7151.2100
Epoch 23/100
34/34 [==============================] - 0s 4ms/step - loss: 7126.4639 - mae: 7126.4639
Epoch 24/100
34/34 [==============================] - 0s 5ms/step - loss: 7101.9199 - mae: 7101.9199
Epoch 25/100
34/34 [==============================] - 0s 6ms/step - loss: 7084.3379 - mae: 7084.3379
Epoch 26/100
34/34 [==============================] - 0s 7ms/step - loss: 7052.3291 - mae: 7052.3291
Epoch 27/100
34/34 [==============================] - 0s 5ms/step - loss: 7024.3511 - mae: 7024.3511
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 6996.6963 - mae: 6996.6963
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 6969.0112 - mae: 6969.0112
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 6942.1899 - mae: 6942.1899
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 6911.7280 - mae: 6911.7280
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 6884.0205 - mae: 6884.0205
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 6853.4648 - mae: 6853.4648
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 6823.0684 - mae: 6823.0684
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 6789.6855 - mae: 6789.6855
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 6755.7646 - mae: 6755.7646
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 6720.2026 - mae: 6720.2026
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 6689.7163 - mae: 6689.7163
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 6652.4619 - mae: 6652.4619
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 6618.1016 - mae: 6618.1016
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 6585.8633 - mae: 6585.8633
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 6559.4956 - mae: 6559.4956
Epoch 43/100
34/34 [==============================] - 0s 2ms/step - loss: 6530.0439 - mae: 6530.0439
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 6506.8071 - mae: 6506.8071
Epoch 45/100
34/34 [==============================] - 0s 2ms/step - loss: 6493.5718 - mae: 6493.5718
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 6475.9258 - mae: 6475.9258
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 6458.8979 - mae: 6458.8979
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 6445.1494 - mae: 6445.1494
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 6430.9639 - mae: 6430.9639
Epoch 50/100
34/34 [==============================] - 0s 2ms/step - loss: 6417.7510 - mae: 6417.7510
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 6403.2759 - mae: 6403.2759
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 6392.4141 - mae: 6392.4141
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 6378.7451 - mae: 6378.7451
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 6364.9126 - mae: 6364.9126
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 6351.5269 - mae: 6351.5269
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 6337.6602 - mae: 6337.6602
Epoch 57/100
34/34 [==============================] - 0s 2ms/step - loss: 6324.8369 - mae: 6324.8369
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 6310.1938 - mae: 6310.1938
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 6295.6035 - mae: 6295.6035
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 6284.8696 - mae: 6284.8696
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 6265.6411 - mae: 6265.6411
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 6253.0107 - mae: 6253.0107
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 6234.9292 - mae: 6234.9292
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 6218.0430 - mae: 6218.0430
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 6201.1899 - mae: 6201.1899
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 6183.9590 - mae: 6183.9590
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 6171.2993 - mae: 6171.2993
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 6148.8403 - mae: 6148.8403
Epoch 69/100
34/34 [==============================] - 0s 2ms/step - loss: 6132.5981 - mae: 6132.5981
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 6112.3848 - mae: 6112.3848
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 6092.7202 - mae: 6092.7202
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 6073.7422 - mae: 6073.7422
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 6059.4873 - mae: 6059.4873
Epoch 74/100
34/34 [==============================] - 0s 2ms/step - loss: 6031.3848 - mae: 6031.3848
Epoch 75/100
34/34 [==============================] - 0s 2ms/step - loss: 6010.3350 - mae: 6010.3350
Epoch 76/100
34/34 [==============================] - 0s 2ms/step - loss: 5995.2173 - mae: 5995.2173
Epoch 77/100
34/34 [==============================] - 0s 2ms/step - loss: 5963.0723 - mae: 5963.0723
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 5940.0605 - mae: 5940.0605
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 5915.1064 - mae: 5915.1064
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 5887.9990 - mae: 5887.9990
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 5861.6987 - mae: 5861.6987
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 5834.3071 - mae: 5834.3071
Epoch 83/100
34/34 [==============================] - 0s 2ms/step - loss: 5805.8237 - mae: 5805.8237
Epoch 84/100
34/34 [==============================] - 0s 2ms/step - loss: 5772.3232 - mae: 5772.3232
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 5745.1514 - mae: 5745.1514
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 5711.3477 - mae: 5711.3477
Epoch 87/100
34/34 [==============================] - 0s 2ms/step - loss: 5674.5215 - mae: 5674.5215
Epoch 88/100
34/34 [==============================] - 0s 2ms/step - loss: 5639.4927 - mae: 5639.4927
Epoch 89/100
34/34 [==============================] - 0s 2ms/step - loss: 5600.6655 - mae: 5600.6655
Epoch 90/100
34/34 [==============================] - 0s 2ms/step - loss: 5559.4326 - mae: 5559.4326
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 5523.6187 - mae: 5523.6187
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 5474.1250 - mae: 5474.1250
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 5432.2656 - mae: 5432.2656
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 5386.0522 - mae: 5386.0522
Epoch 95/100
34/34 [==============================] - 0s 3ms/step - loss: 5333.1812 - mae: 5333.1812
Epoch 96/100
34/34 [==============================] - 0s 5ms/step - loss: 5288.8159 - mae: 5288.8159
Epoch 97/100
34/34 [==============================] - 0s 4ms/step - loss: 5234.6792 - mae: 5234.6792
Epoch 98/100
34/34 [==============================] - 0s 6ms/step - loss: 5170.9365 - mae: 5170.9365
Epoch 99/100
34/34 [==============================] - 0s 5ms/step - loss: 5112.9438 - mae: 5112.9438
Epoch 100/100
34/34 [==============================] - 0s 4ms/step - loss: 5059.8643 - mae: 5059.8643

In [88]:
mse_insurance = mse(y_test, y_preds)
mae_insurance = mae(y_test, y_preds)
mse_insurance, mae_insurance

(<tf.Tensor: shape=(), dtype=float32, numpy=111577850.0>,
 <tf.Tensor: shape=(), dtype=float32, numpy=7023.329>)

In [91]:
insurance_model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 3ms/step - loss: 7023.3291 - mae: 7023.3291

[7023.3291015625, 7023.3291015625]

In [92]:
# Set random set
tf.random.set_seed(42)
# 1. Create a model