<a href="https://colab.research.google.com/github/BatbayarEnkhbaatar/Machine_Learning_Samples/blob/main/normalizations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing data (normalization and standardization)

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import tensorflow as tf

insurance =pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")

In [2]:
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Prepare our data , we can borrow a few classes from Scikit-Learn

In [3]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
X_test.head()

      age     sex     bmi  children smoker     region
764    45  female  25.175         2     no  northeast
887    36  female  30.020         0     no  northwest
890    64  female  26.885         0    yes  northwest
1293   46    male  25.745         3     no  northwest
259    19    male  31.920         0    yes  northwest

In [17]:
# Create a column transformer
ct = make_column_transformer(
    (MinMaxScaler(), ["age", "bmi", "children"]),
    (OneHotEncoder(handle_unknown="ignore"), ["sex", "smoker", "region"])
)

# Create X & y

X= insurance.drop("charges", axis=1)
y = insurance["charges"]

# build our train and test sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the column transformer to our training data

ct.fit(X_train)

# Transform training and test data with normalization (MixMaxScaler) and OneHotEncoder

X_train_normal = ct.transform(X_train)
X_test_normal = ct.transform(X_test)

In [23]:
# What does our data look like now?
X_train_normal[0]

array([0.60869565, 0.10734463, 0.4       , 1.        , 0.        ,
       1.        , 0.        , 0.        , 1.        , 0.        ,
       0.        ])

In [22]:
# What does our data look like now?
X_test_normal

array([[0.58695652, 0.24791499, 0.4       , ..., 0.        , 0.        ,
        0.        ],
       [0.39130435, 0.37826204, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [1.        , 0.29391983, 0.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.43478261, 0.32458972, 0.2       , ..., 0.        , 0.        ,
        0.        ],
       [0.7826087 , 0.84611246, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.7173913 , 0.49071832, 0.2       , ..., 0.        , 0.        ,
        1.        ]])

In [27]:
X_train_normal.shape, X_test_normal.shape

((1070, 11), (268, 11))

In [31]:
# Build the neural network model to fit our normalized data

tf.random.set_seed(42)

# 1. Create the model

insurance_model_4 = tf.keras.Sequential([
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(10),
  tf.keras.layers.Dense(1)
])
# 2. Compile the model
insurance_model_4.compile(loss=tf.keras.losses.mae,
                          optimizer=tf.keras.optimizers.Adam(),
                          metrics=["mae"])
# 3. Fit the model

insurance_model_4.fit(tf.expand_dims(X_train_normal, axis=1), y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 2s 6ms/step - loss: 13342.6494 - mae: 13342.6494
Epoch 2/100
34/34 [==============================] - 0s 4ms/step - loss: 13333.4785 - mae: 13333.4785
Epoch 3/100
34/34 [==============================] - 0s 4ms/step - loss: 13312.0234 - mae: 13312.0234
Epoch 4/100
34/34 [==============================] - 0s 4ms/step - loss: 13267.7930 - mae: 13267.7930
Epoch 5/100
34/34 [==============================] - 0s 4ms/step - loss: 13189.5830 - mae: 13189.5830
Epoch 6/100
34/34 [==============================] - 0s 4ms/step - loss: 13066.4502 - mae: 13066.4502
Epoch 7/100
34/34 [==============================] - 0s 4ms/step - loss: 12888.1953 - mae: 12888.1953
Epoch 8/100
34/34 [==============================] - 0s 5ms/step - loss: 12644.6523 - mae: 12644.6523
Epoch 9/100
34/34 [==============================] - 0s 4ms/step - loss: 12325.5469 - mae: 12325.5469
Epoch 10/100
34/34 [==============================] - 0s 4ms/step - loss: 11925.9658 - mae: 11925.9658
Epoch 11/100
34/34 [==============================] - 0s 4ms/step - loss: 11454.3350 - mae: 11454.3350
Epoch 12/100
34/34 [==============================] - 0s 4ms/step - loss: 10949.8076 - mae: 10949.8076
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 10448.9404 - mae: 10448.9404
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 9951.6250 - mae: 9951.6250
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 9482.7422 - mae: 9482.7422
Epoch 16/100
34/34 [==============================] - 0s 2ms/step - loss: 9066.7461 - mae: 9066.7461
Epoch 17/100
34/34 [==============================] - 0s 2ms/step - loss: 8721.9854 - mae: 8721.9854
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 8441.2002 - mae: 8441.2002
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 8227.5117 - mae: 8227.5117
Epoch 20/100
34/34 [==============================] - 0s 3ms/step - loss: 8081.9775 - mae: 8081.9775
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 7973.8945 - mae: 7973.8945
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 7899.1597 - mae: 7899.1597
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 7840.3906 - mae: 7840.3906
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 7787.9619 - mae: 7787.9619
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 7749.2622 - mae: 7749.2622
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 7697.9595 - mae: 7697.9595
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 7656.0273 - mae: 7656.0273
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 7613.4771 - mae: 7613.4771
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 7570.9482 - mae: 7570.9482
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 7527.4175 - mae: 7527.4175
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 7483.5947 - mae: 7483.5947
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 7439.4424 - mae: 7439.4424
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 7395.0557 - mae: 7395.0557
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 7346.8120 - mae: 7346.8120
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 7300.0488 - mae: 7300.0488
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 7249.8452 - mae: 7249.8452
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 7199.5308 - mae: 7199.5308
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 7148.4805 - mae: 7148.4805
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 7093.6650 - mae: 7093.6650
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 7038.1797 - mae: 7038.1797
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 6981.7393 - mae: 6981.7393
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 6922.7847 - mae: 6922.7847
Epoch 43/100
34/34 [==============================] - 0s 3ms/step - loss: 6860.1729 - mae: 6860.1729
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 6793.7969 - mae: 6793.7969
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 6726.6201 - mae: 6726.6201
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 6657.4683 - mae: 6657.4683
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 6586.3086 - mae: 6586.3086
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 6507.5063 - mae: 6507.5063
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 6428.6021 - mae: 6428.6021
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 6342.7100 - mae: 6342.7100
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 6258.0718 - mae: 6258.0718
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 6164.7046 - mae: 6164.7046
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 6068.6748 - mae: 6068.6748
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 5970.0981 - mae: 5970.0981
Epoch 55/100
34/34 [==============================] - 0s 3ms/step - loss: 5862.5625 - mae: 5862.5625
Epoch 56/100
34/34 [==============================] - 0s 3ms/step - loss: 5753.9531 - mae: 5753.9531
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 5638.0942 - mae: 5638.0942
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 5519.8687 - mae: 5519.8687
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 5401.3198 - mae: 5401.3198
Epoch 60/100
34/34 [==============================] - 0s 3ms/step - loss: 5277.3501 - mae: 5277.3501
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 5149.7642 - mae: 5149.7642
Epoch 62/100
34/34 [==============================] - 0s 3ms/step - loss: 5019.3535 - mae: 5019.3535
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 4889.6865 - mae: 4889.6865
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 4756.8560 - mae: 4756.8560
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 4629.4365 - mae: 4629.4365
Epoch 66/100
34/34 [==============================] - 0s 2ms/step - loss: 4503.5991 - mae: 4503.5991
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 4392.9922 - mae: 4392.9922
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 4284.3862 - mae: 4284.3862
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 4182.6182 - mae: 4182.6182
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 4089.5725 - mae: 4089.5725
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 4003.3901 - mae: 4003.3901
Epoch 72/100
34/34 [==============================] - 0s 2ms/step - loss: 3929.0093 - mae: 3929.0093
Epoch 73/100
34/34 [==============================] - 0s 2ms/step - loss: 3866.3110 - mae: 3866.3110
Epoch 74/100
34/34 [==============================] - 0s 2ms/step - loss: 3813.7144 - mae: 3813.7144
Epoch 75/100
34/34 [==============================] - 0s 2ms/step - loss: 3773.0317 - mae: 3773.0317
Epoch 76/100
34/34 [==============================] - 0s 2ms/step - loss: 3744.1995 - mae: 3744.1995
Epoch 77/100
34/34 [==============================] - 0s 3ms/step - loss: 3719.6870 - mae: 3719.6870
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 3702.9114 - mae: 3702.9114
Epoch 79/100
34/34 [==============================] - 0s 2ms/step - loss: 3691.8792 - mae: 3691.8792
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 3682.8347 - mae: 3682.8347
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 3676.9763 - mae: 3676.9763
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 3673.9492 - mae: 3673.9492
Epoch 83/100
34/34 [==============================] - 0s 2ms/step - loss: 3667.8452 - mae: 3667.8452
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 3664.5757 - mae: 3664.5757
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 3661.8562 - mae: 3661.8562
Epoch 86/100
34/34 [==============================] - 0s 2ms/step - loss: 3660.3049 - mae: 3660.3049
Epoch 87/100
34/34 [==============================] - 0s 2ms/step - loss: 3657.5134 - mae: 3657.5134
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 3655.2200 - mae: 3655.2200
Epoch 89/100
34/34 [==============================] - 0s 2ms/step - loss: 3653.8831 - mae: 3653.8831
Epoch 90/100
34/34 [==============================] - 0s 2ms/step - loss: 3652.0193 - mae: 3652.0193
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 3648.9990 - mae: 3648.9990
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 3648.4463 - mae: 3648.4463
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 3646.2300 - mae: 3646.2300
Epoch 94/100
34/34 [==============================] - 0s 3ms/step - loss: 3644.4380 - mae: 3644.4380
Epoch 95/100
34/34 [==============================] - 0s 2ms/step - loss: 3645.8772 - mae: 3645.8772
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 3642.2576 - mae: 3642.2576
Epoch 97/100
34/34 [==============================] - 0s 2ms/step - loss: 3640.1189 - mae: 3640.1189
Epoch 98/100
34/34 [==============================] - 0s 2ms/step - loss: 3638.0647 - mae: 3638.0647
Epoch 99/100
34/34 [==============================] - 0s 3ms/step - loss: 3637.2051 - mae: 3637.2051
Epoch 100/100
34/34 [==============================] - 0s 2ms/step - loss: 3636.1707 - mae: 3636.1707

In [35]:
# Evaluate our insurance_model_4 trained on normzalied data

insurance_model_4.evaluate(X_test_normal, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 3438.7844 - mae: 3438.7844

[3438.784423828125, 3438.784423828125]

In [34]:
# The best model in previous testing, model_2 result is here
# WARNING:tensorflow:Model was constructed with shape (None, 1, 11) for input KerasTensor(type_spec=TensorSpec(shape=(None, 1, 11), dtype=tf.float64, name='dense_14_input'), name='dense_14_input', description="created by layer 'dense_14_input'"), but it was called on an input with incompatible shape (None, 11).
# 9/9 [==============================] - 0s 2ms/step - loss: 4924.3477 - mae: 4924.3477
# [4924.34765625, 4924.34765625]